*{
	margin: 0;
}
/*estilos del cuerpo*/
body {
	background-color: beige;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: oblique;
}/*estilos del contenedor del video */
.Verano
{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60;
    margin:auto;
    position: relative;
    z-index: 2;
}
/*estilos del header*/
header {
    position: sticky; /* Permite que el header se quede en la parte superior */
    top: 0; 
    margin: 0;
    width: 100%;
    height: 100px;
    background-color: rgb(3, 27, 12);
    display: flex;
    align-items: center;
    justify-content: space-between; 
    z-index: 1000; 
}
/*contenedor del titulo de la página*/
.titulo {
    margin-left: 140px; 
    font-size: 22px;
    color: bisque;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.titulo h1 {
    color: #ffe4c4;
    margin: 0; 
}

/* Iconos como el usuario */
.iconos ul {
    align-items: center;
    list-style: none;
    display: flex;
    gap: 25px;
    margin-right: 30px;
}

/*aqui comienza el menu desplegable, esto de acá es una animación*/
.menudesplegable{
    --img1: scale(1);
    --img2: scale(0);
    z-index: 12;
}
/* Estilos cuando el menú desplegable está activo, lo mismo acá es una animación para cuando el menu este activo o inactivo */
.menudesplegable:has( .dropdown:target ){
    --img1: scale(0);
    --img2: scale(1);
    --clip:inset(0 0 0 0);
    z-index: 14;
}
/* Estilos para el contenedor de navegación*/
.nav__container{
    width: 100%;
    margin-left: 20px;
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-areas: "title img";
    align-items: center;
    overflow: hidden;
}
/* estilos menú de Navegación */
.nav__menu{
    grid-area: img;
    position: relative;
    z-index: 10;
    transform: var(--img1);
}

.nav__menu--second{
    transform: var(--img2);
}
/* Iconos */
.nav_icon{
    width: 35px;
    display: block;
}
/*esto es para que cuando uno pase el mouse por la imagen se ponga con rellenito*/
.container_usuario, .container-cart-icon{
    position: relative;
}
.container_usuario .nav_icon:hover{
    overflow: hidden;
}

.container_carrito  .nav_icon:hover{
    overflow: hidden;
}
.container_usuario:hover .nav_icon {
    content: url(imagenes/usuario.png);
}

.container-cart-icon:hover .nav_icon {
    content: url(imagenes/carrito-de-compras\ \(1\).png);
}
/* Estilos para el menú desplegable, además tiene la transición */
.dropdown{
    position: absolute;
    align-items: center;
    background-color: #0c1d12;
    margin-top: 280px;
    margin-left: 50px;
    width: 100%;
    height: 350px;
    max-width: 300px;
    display: grid;
    clip-path: var(--clip, inset(0 0 100% 100%));
    transition: clip-path .5s;
    z-index: 10;
}

.lista{
    list-style: none;
    height: 40px;
}
/*Cada link del menu*/
.dropdown__link{
    color: rgb(184, 187, 191);
    padding: 10px;
    gap: 20px;
    width: 220px;
    text-decoration: none; 
    display: flex;
    align-items: center;
    position: relative;
    background-color: var(--bg, transparent);
}
/*link cuando se pasa por encima*/
.dropdown__link:hover{
    background-color: beige;
    color: #000;
}
/* Estilos de los Botones */
button 
{
display: inline-block ;
border:none;
height: 50px;
border-radius: 30px;
padding: 10px 0;
width: 200px;
background-color: rgb(3, 27, 12);
font-size: 1.4em;
font: normal;
color: rgb(255, 255, 255);
font-weight: 800;
transition: 150ms;
margin-top: 40px;
font-family: 'Times New Roman', Times, serif;
}

button:focus { outline:none
}

button:hover{
    transform:translate(0, -5px);
}
/* Estilos para los titulos en la sección Verano */
.Verano h1 {
	font-size: 60px;
	text-align:center; 
	color: #3d5844;
	font-weight: 700px;
	
}
.Verano p {
	font-size: 30px;
	text-align:center; 
	color: #3d5844;
}

/* Este es el id del main donde se encuentra el video*/
#hero {
    min-height: 100vh;
    position: relative;
}
/* Estilos para el video*/
video {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Esto es para colocar las frases encima del video*/
.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

mix-blend-mode: overlay;
}

.Catalogo h1
{
font-size: 30px;
text-align:center; 
color: #153828;;
height: 100px;
}


/* estilos del contenedor de productos */
.container-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;
    text-decoration: none
}
/* estilos de los enlaces dentro del contenedor de productos */
.container-products a{
    text-decoration: none;
}
/* estilos de la tarjeta de producto */
.card-product {
    background-color: #fff;
    height: 520px;
    width: 400px;
    padding: 2rem 3rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0px 6px 6px 6px rgba(7, 49, 24, 0.3);
    text-decoration: none;
    color: black;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
    z-index: 10; 
}

/* Esto añadirá la imagen cuando se haga hover */
.card-product:hover::before {
    content: ''; 
    z-index: -1;
    position: absolute; 
    top: 200px; 
    left: 10px; 
    width: 500px; 
    height: 500px; 
    transition: all 0.3s ease; 
}
/* Esto añadirá la imagen cuando se haga hover */
.card-product:hover::after {
    content: ''; 
    z-index: -1;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 500px; 
    height: 500px; 
    transition: all 0.3s ease; 
}

/* Imágenes de fondo cuando se pasa el ratón, esta es la de abajo de la tarjeta*/
.card-product:hover::before {
    background-image: url('imagenes/Diseño_sin_título__1_-removebg-preview.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
}
/*esta es la de arriba de la tarjeta*/
.card-product:hover::after {
    background-image: url('imagenes/Diseño_sin_título-removebg-preview.png'); 
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
}

/* Cuando se pasa el mouse sobre la tarjeta nada mas se pasa a beige */
.card-product:hover {
    background-color: beige;
}

/* Esto es para segurarse de que los enlaces y botones estén encima de las imágenes */
.card-product a,
.card-product .add-to-cart {
    position: relative;
    z-index: 1; 
}


/* Esto asegura que el icono del carrito sea clickeable, porque tuve algunos problemas con eso */
#imgcarrito {
    cursor: pointer; 
    z-index: 100;
}
.card-product:hover{
    background-color: beige;
}
.card-product a{
    text-decoration: none;
}
/* tamano de la imagen del producto */
.imgPro{
    height: 280px;
}
/* estilos del contenedor de imagen */
.container-img {
	position: relative;
}
/* estilos de la imagen*/
.container-img img {
	width: 100%;
}
/* estilos de la etiqueta de descuento */
.container-img .discount {
	position: absolute;
	left: 0;
	background-color: var(--primary-color);
	color: #fff;
	padding: 2px 1.2rem;
	border-radius: 1rem;
	font-size: 1.2rem;
}

.card-product:hover .discount {
	background-color: #153828;
}
/* estilos del grupo de botones */
.button-group {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	position: absolute;
	top: 0;
	right: -3rem;
	z-index: 10;
	transition: all 0.4s ease;
    opacity: 0;
    visibility: hidden;

}
/* estilos del span dentro del grupo de botones */
.button-group span {
	border: 1px solid var(--primary-color);
	padding: 0.8rem;
    z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
}
/* efecto de hover en el span del grupo de botones */
.button-group span:hover {
    z-index: 10;
}


.card-product:hover .button-group {
	z-index: 100;
	right: -1rem;
    opacity: 1;
    visibility: visible;
}
/* estilos del contenido de la tarjeta de producto */
.content-card-product {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, min-content);
	row-gap: 1rem;
}


.content-card-product h3 {
grid-row: 1/2;
grid-column: 1/-1;
font-weight: 400;
	font-size: 1.6rem;
	margin-bottom: 1rem;
	cursor: pointer;
}
/* estilos del footer de la pagina*/
footer {
    color: white;
    text-align: center;
}
/* estilos de lo que va antes del footer que es del final*/
.final{
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #306f44;
    color: white;
}/* estilos de donde vienen los terminos */
.footer-terminos{
    height: 100px;
    width: 100%;
    gap: 20px;
}
.footer-terminos a {
    margin: 0;
    display: inline-block;
    text-decoration: none;
    list-style: none;
    color: #0c1d12;
}
/* estilos de donde viene lo de derechos reservados*/
.footer-info {
    width: 100%;
    height: 100px;
    font-size: 14px;
    background-color: rgb(3, 27, 12);
}
/* estilos de las imagenes de las redes sociales*/
.footerredes img{
    width: 50px;
    height: 40px;
}
/* estilos del contador de productos*/
.count-products{
    position: absolute;
    top: 55%;
    right: 50px;
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
/* estilos del contenedor del contador de productos*/
#contador-productos{
    font-size: 12px;
    background-color: #000;
}
/* estilos del contenedor del carrito de productos */
.container-cart-products{
    position: absolute;
    top: 70px;
    right: 10px;
    background-color: #0c1d12;
    width: 650px;
    z-index: 150;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    color: white;
    overflow-y: auto;
}
.scrollable-cart {
    max-height: 400px;
    overflow-y: auto;  
    border: 1px solid #153828; 
}
/* estilos del producto en el carrito */
.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    max-height: 200px; /* Altura máxima para el contenedor de productos */
    overflow-y: auto;
}
/* info del producto en el carrito */
.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
}
/* titulo del producto en el carrito */
.titulo-producto-carrito{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*precio del producto en el carrito */
.precio-producto-carrito{
    font-weight: 700;
    font-size: 18px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* cantidad del producto en el carrito */
.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* icono para borrar un producto en el carrito */
.icon-close{
    width: 25px;
    height: 25px;
}
.imgcarrito{
    width: 40px;
    height: 40px;
}
/* estilos del botón del carrito */
.btnCart {
    align-items: center;
    display: flex;
    gap: 20px;
    background-color: #15552c;
    color: #fff;
    width: 300px;
    height: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
}

/* efecto de hover en el botón del carrito */
.btnCart:hover {
    background-color: #40a678;
}

/* estilos del total del carrito */
.cart-total {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

/* estilos del encabezado en el total del carrito */
.cart-total h3 {
    font-size: 18px;
    font-weight: 700;
}

/* estilos del total a pagar */
.total-pagar {
    font-size: 18px;
    font-weight: 900;
}

/* ocultar el carrito */
.hidden-cart {
    display: none;
}

/* estilos del mensaje cuando el carrito está vacío */
.cart-empty {
    padding: 20px;
    text-align: center;
}

/* estilos de los botones 1 y 2 */
.btn1, .btn2 {
    padding: 10px 25px;
    background-color: #15552c;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    border-radius: 15px;
    margin-top: 15px;
}

/* efecto de hover en los botones 1 y 2 */
.btn2:hover, .btn1:hover {
    background-color: #153828;
}

/* clase para ocultar elementos */
.hidden {
    display: none;
}

/* estilos del título en el modal */
.h1modal {
    text-align: center;
    width: 100%;
}

/* estilos del resumen de lo que se está pagando */
.Resumen {
    border: #0c1d12;
    max-width: 500px;
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.modal-body {
    padding: 20px;
}

.Resumen {
    margin-bottom: 30px;
}

.Resumen h2 {
    text-align: center;
    margin-bottom: 15px;
}
.tituloresumen{
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #153828;
}

/* estilos de la fila de productos en el resumen*/
.row-product2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.row-product2 .cart-product {
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* estilos de la imagen del producto en el carrito */
.cart-product img {
    margin-right: 10px;
}

/* estilos del total en la fila del resumen del carrito cuando ya le diste comprar */
.cart-total2 {
    margin-top: 20px;
    font-weight: bold;
}

/* estilos del botón de alerta */
.alertbutton {
    background-color: #153828; 
    color: white;             
}

/* efecto de hover en el botón de alerta */
.alertbutton:hover {
    background-color: #0c1d12;
}

/* estilos del pago, esto saldrá dentro del modal de Bootstrap */
.Pago {
    max-width: 650px;
    margin: 0 auto;
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* estilos de los encabezados en el pago */
.Pago h2, h3 {
    text-align: center;
    color: #0c1d12; 
    font-size: 35px;
    font-family: 'Dancing Script', cursive; 
}

/* estilos del encabezado en la tarjeta del producto */
.content-card-product h3 {
    font-family: 'Times New Roman', Times, serif;
}

/* estilos para entrega y pago */
.entrega, .pago {
    margin-bottom: 20px;
    text-align: center;
}

/* estilos de las etiquetas */
label {
    display: block;
    margin-bottom: 3px;
    color: #153828; 
}

/* estilos del encabezado */
h3 {
    font-family: 'Times New Roman', Times, serif;
}

/* estilos del campo de texto */
.texto2 {
    width: 500px;
    padding: 7px;
    margin-bottom: 5px;
    border: 2px solid #0c1d12; 
    border-radius: 4px;
    margin-left: 20px;
}

/* estilos para el contenedor de tarjetas */
.tarjetas {
    text-align: center;
    border: 2px solid #0c1d12; 
    margin-bottom: 30px;
}

/* estilos de las imágenes de las tarjetas */
.imagen-tarjetas {
    max-width: 200px;
    height: auto;
}

/* estilos de la línea horizontal */
hr {
    color: #0a0906;
}

/* estilos del icono de cerrar */
.icon-close img {
    height: 30px;
    width: 30px;
}

/* estilos del botón de comprar*/
.boton {
    width: 100%;
    padding: 15px;
    background-color: #153828; 
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/* efecto de hover en el botón */
.boton:hover {
    background-color: #306f44; 
}
/* este es el contenedor donde caen las flores y los copos*/

.contenedor-caida {
    position: absolute; 
    margin-top: 30px;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    z-index: 1000;
}

/* Estilo de cada flor y el copo básicamente son iguales con sus animaciones */
.flor {
    position: absolute;
    animation: caer 5s linear infinite; 
    will-change: transform; 
    pointer-events: none; 
    z-index: 100;
}

/* Animación de caída de las flores */
@keyframes caer {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(100vh); 
    }
}